extends layout

block content
	.conversation(ng-controller="ChatCtrl")
		.bg-img
			img(src='/images/background.png')
		.content		
			.content-block
				.progress-block
					.progress-div.target-progress
						p.name {{targetId}}
						p.point 曖昧指數 {{target_score}}%
						div(round-progress max="max" current="current" color="#D58082" bgcolor="#EEEEEE" radius="100" stroke="13" semi="false" rounded="true" clockwise="true" responsive="true" duration="800" animation="easeInOutQuart")
					.progress-div.user-progress
						p.name {{userId}}
						p.point 曖昧指數 {{user_score}}%
						div(round-progress max="max" current="current" color="#ABA0CC" bgcolor="#EEEEEE" radius="100" stroke="13" semi="false" rounded="true" clockwise="true" responsive="true" duration="800" animation="easeInOutQuart")
				.middle-block
					.chat-block
						.title-block
							img.logo(src='/images/ivytalk_logo.png')
							img.logo-cht(src='/images/ivytalk_logo_cht.png')
						.row.user-block
							.col-xs-5.targetName {{targetId}}
							.col-xs-2.heart ♥
							.col-xs-5.userName {{userId}}
						.message-block
							.a-message(ng-repeat="message in conv.messages track by $index")		
								span.target(ng-if="!isMyMessage(message)")
									img.img-responsive.profile-pic(src='/images/ivy_photo.png')
									.message.talk-bubble.round
										.talktext
											p {{message.content}}
								.self(ng-if="isMyMessage(message)")
									.message.talk-bubble.round
										.talktext
											p {{message.content}}
						//- .a-message
						//- 	span.target
						//- 		img.img-responsive.profile-pic(src='/images/ivy_photo.png')
						//- 		.message.talk-bubble.round
						//- 			.talktext
						//- 				p Hi 郭泰頤, 安安你好啊想你喔123435353535645645213123123我
						//- .a-message
						//- 	.self
						//- 		.message.talk-bubble.round
						//- 			.talktext
						//- 				p {{hello}}
				.history-chart
					nvd3(options="options" data="data")
		.msg-block
			textarea.msg-input(ng-keypress="keyPress($event)" autofocus placeholder="請輸入聊天訊息" ng-model='textToSend')
			button.btn.msg-send(ng-click='sendMessage(textToSend)') 送出

