extends layout

block content
	.conversation(ng-controller="ChatCtrl")
		.bg-img
			img(src='/images/background.png')
		.content		
			.content-block
				.history-chart
						nvd3(options="options" data="data")
				.middle-block
					.chat-block
						.title-block
							img.logo(src='/images/ivytalk_logo.png')
							img.logo-cht(src='/images/ivytalk_logo_cht.png')
						.row.user-block
							.col-xs-5.targetName {{targetId}}
							.col-xs-2.heart ♥
							.col-xs-5.userName {{userId}}
						.message-block
							.a-message(ng-repeat="message in conv.messages track by $index")		
								span.target(ng-if="!isMyMessage(message)")
									img.img-responsive.profile-pic(src='/images/ivy_photo.png')
									.message.talk-bubble.round
										.talktext
											p {{message.content}}
								.self(ng-if="isMyMessage(message)")
									.message.talk-bubble.round
										.talktext
											p {{message.content}}
						//- .a-message
						//- 	span.target
						//- 		img.img-responsive.profile-pic(src='/images/ivy_photo.png')
						//- 		.message.talk-bubble.round
						//- 			.talktext
						//- 				p Hi 郭泰頤, 安安你好啊想你喔123435353535645645213123123我
						//- .a-message
						//- 	.self
						//- 		.message.talk-bubble.round
						//- 			.talktext
						//- 				p {{hello}}
<<<<<<< HEAD
				
					
=======
				.col-xs-4
					div(class='progress-div')
						div(class='point') 曖昧指數 40/100
						div(round-progress max="max" current="current" color="#45ccce" bgcolor="#eaeaea" radius="100" stroke="20" semi="true" rounded="true" clockwise="true" responsive="true" duration="800" animation="easeInOutQuart")
>>>>>>> 6479462c9b4d20cdc2831b47b165745ee826fa37
		.msg-block
			textarea.msg-input(ng-keypress="keyPress($event)" autofocus placeholder="請輸入聊天訊息" ng-model='textToSend')
			button.btn.msg-send(ng-click='sendMessage(textToSend)') 送出

