extends layout

block content
	.bg-img
		img(src='/images/background.png')
	.content		
		.row.content-block
			.col-xs-4
				ddd
			.col-xs-4.middle-block
				.chat-block
					.title-block
						img.logo(src='/images/ivytalk_logo.png')
						img.logo-cht(src='/images/ivytalk_logo_cht.png')
					.a-message
						span.target
							img.img-responsive.profile-pic(src='/images/ivy_photo.png')
							.message.talk-bubble.round
								.talktext
									p Hi 郭泰頤, 安安你好啊想你喔123435353535645645213123123我
					.a-message
						.self
							.message.talk-bubble.round
								.talktext
									p 好久不見呢! 愛愛12345678900-
			.col-xs-4
				aaa
	.msg-block
		textarea.msg-input(autofocus placeholder="請輸入聊天訊息")
		button.btn.msg-send 送出


block script
	script.
		var socket = io.connect(),
			user = {
				name: 'Roger Kuo',
				userId: 'roger',
				gender: 'male'
			};
			
		socket.on('connect', function () {
			socket.emit('user:register', user, function (data) {
				user = data;
				console.log(user);
			});
		});
