extends layout

block content
	.conversation(ng-controller="ChatCtrl")
		.bg-img
			img(src='/images/background.png')
		.content		
			.row.content-block
				.col-xs-4
					
				.col-xs-4.middle-block
					.chat-block
						.title-block
							img.logo(src='/images/ivytalk_logo.png')
							img.logo-cht(src='/images/ivytalk_logo_cht.png')
						.row.user-block
							.col-xs-5.targetName {{targetId}}
							.col-xs-2.heart ♥
							.col-xs-5.userName {{userId}}
						.message-block
							.a-message(ng-repeat="message in messages track by $index")		
								span.target(ng-if="!isMyMessage(message)")
									img.img-responsive.profile-pic(src='/images/ivy_photo.png')
									.message.talk-bubble.round
										.talktext
											p {{message.content}}
								.self(ng-if="isMyMessage(message)")
									.message.talk-bubble.round
										.talktext
											p {{message.content}}
						//- .a-message
						//- 	span.target
						//- 		img.img-responsive.profile-pic(src='/images/ivy_photo.png')
						//- 		.message.talk-bubble.round
						//- 			.talktext
						//- 				p Hi 郭泰頤, 安安你好啊想你喔123435353535645645213123123我
						//- .a-message
						//- 	.self
						//- 		.message.talk-bubble.round
						//- 			.talktext
						//- 				p {{hello}}
				.col-xs-4
					
		.msg-block
			textarea.msg-input(ng-keypress="keyPress($event)" autofocus placeholder="請輸入聊天訊息" ng-model='textToSend')
			button.btn.msg-send(ng-click='sendMessage(textToSend)') 送出


block script
	script.
		//- var ivyTalk = new IvyTalk(io, {
		//- 		name: 'Roger Kuo',
		//- 		userId: 'roger',
		//- 		gender: 'male'
		//- 	});
