doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.1.js")
		script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(type="text/javascript", src="/socket.io/socket.io.js")
		script.
			var socket = io.connect(),
				user = {
					name: 'Roger Kuo',
					userId: 'roger',
					gender: 'male'
				};
			
			socket.on('connect', function () {
				socket.emit('user:register', user, function (data) {
					user = data;
					console.log(user);
				});
			});